<div class="product">
    <div class="product__cell">
        @@include('../gallery/product.html')
    </div>
    <div class="product__cell">
        <div class="product__info">
            <div class="product__roof">
                <div class="product__article">
                    <p>Артикул: <span>SF0123</span></p>
                </div>
                <div class="product__brand">
                    <p>Бренд: <a href="#">Bradex Hot Shapers</a></p>
                </div>
            </div>
            <div class="product__info-row">
                <ul class="product__info-list">
                    <li>
                        <div class="product__info-cell"><span>Тип:</span></div>
                        <div class="product__info-cell"><span>Бриджи</span></div>
                    </li>
                    <li>
                        <div class="product__info-cell"><span>Пол</span></div>
                        <div class="product__info-cell"><span>Женский</span></div>
                    </li>
                </ul>
            </div>
            <div class="product__info-row">
                <div class="product__info-cell">
                    <div class="product__select">
                        <span>Цвет</span>
                        <select>
                            <option value="0">Жёлтый</option>
                            <option value="1">Красный</option>
                            <option value="2">Голубой</option>
                        </select>
                    </div>
                </div>
                <div class="product__info-cell">
                    <div class="product__select">
                        <span>Размер</span>
                        <select>
                            <option value="0">XS</option>
                            <option value="1">S</option>
                            <option value="2">M</option>
                        </select>
                    </div>
                    <a href="#">Размерная<br>таблица</a>
                </div>
            </div>
            <div class="product__info-row">
                <div class="price">
                    <span class="price__old">1500 руб.</span>
                    <span class="price__now">1290 руб.</span>
                </div>
            </div>
            <div class="product__info-row">
                <div class="counter">
                    <label for="counter" class="counter__label">
                        <input id="counter" type="text" class="counter__input" value="1" data-max="99">
                        <button class="counter__btn counter__btn_up"></button>
                        <button class="counter__btn counter__btn_down"></button>
                    </label>
                </div>
                <button class="product__buy btn btn_buy">В корзину</button>
                <button class="btn btn_fastorder">Быстрый заказ</button>
            </div>
        </div>
        <div class="product__description">
            <h4 class="product__title">Информация о товаре</h4>
            <p>Стильные спортивные бриджи с завышенной талией из неопрена избавят Вас от лишних сантиметров на талии, уменьшат бедра и ноги. Плотно облегая тело, бриджи создают эффект бани, заставляя организм потеть и, как следствие, активно терять вес. Специальная подкладка бриджей не пропускает пот и запахи. Способ применения: наденьте бриджи и начинайте терять вес. Желаемый эффект достигается благодаря повышению температуры тела.</p>
            <p>Неопрен - материал, из которого сделаны лбриджи - ускоряет теплообмен, заставляя Вас усиленно потеть. В бриджах из неопрена любые повседневные дела будут оказывать на Ваше тело такой же эффект, как занятия на тренажерах. Бриджи не требуют специального ухода. Специальная пористая подкладка не пропускает влагу, не давая поту испортить Вашу одежду. Материал: 70% неопрена, 15% нейлона, 15% полиэстера Комплектация: бриджи, чехол, инструкция, измерительная лента</p>
        </div>
    </div>
</div>