<ul class="menu">
    <li class="menu__item"><a href="#" class="menu__link">Главная</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Бренды</a></li>
    <li class="menu__item">
        <a href="#" class="menu__link">Для волос</a>
        <div class="menu__drop drop">
            <ul class="drop__list">
                <li class="drop__item"><a href="#" class="drop__link">Бальзамы для волос</a></li>
                <li class="drop__item"><a href="#" class="drop__link">Кондиционеры для волос</a></li>
                <li class="drop__item"><a href="#" class="drop__link">Кремы для волос</a></li>
                <li class="drop__item"><a href="#" class="drop__link">Маски для волос</a></li>
                <li class="drop__item"><a href="#" class="drop__link">Наборы для ухода за волосами</a></li>
                <li class="drop__item drop__item_more">
                    <a href="#" class="drop__link">Парикмахерский инструмент</a>
                    <ul class="drop__item-l">
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Брашинги</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Гребни</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Машинки для стрижки</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Парикмахерские ножницы</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Расходные материалы</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Расчески</a></li>
                    </ul>
                </li>
                <li class="drop__item"><a href="#" class="drop__link">Специальные средства для волос</a></li>
                <li class="drop__item"><a href="#" class="drop__link">Спрей для волос</a></li>
                <li class="drop__item drop__item_more">
                    <a href="#" class="drop__link">Средства для окрашивания волос</a>
                    <ul class="drop__item-l">
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Корректоры цвета</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Краска для бровей и ресниц</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Краски для волос</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Крем-краски</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Окислители</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Пигменты прямого действия</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Тонирование</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Хна</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Бальзамы оттеночные</a></li>
                    </ul>
                </li>
                <li class="drop__item drop__item_more">
                    <a href="#" class="drop__link">Средства для укладки волос</a>
                    <ul class="drop__item-l">
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Паста для укладки</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Воск для моделирования</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Гель для укладки</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Кремы для укладки</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Лаки для волос</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Ламинирование волос</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Лосьоны для фиксации</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Мусс для объема</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Пена для укладки</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Спрей для укладки</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Средства для выпрямления волос</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Средства для завивки волос</a></li>
                        <li class="drop__item-i"><a href="#" class="drop__item-link">Электроприборы</a></li>
                    </ul>
                </li>
                <li class="drop__item"><a href="#" class="drop__link">Сухой шампунь</a></li>
                <li class="drop__item"><a href="#" class="drop__link">Сыворотки для волос</a></li>
                <li class="drop__item"><a href="#" class="drop__link">Тоники и флюиды для волос</a></li>
                <li class="drop__item"><a href="#" class="drop__link">Шампунь для волос</a></li>
                <li class="drop__item"><a href="#" class="drop__link">Детские шампуни</a></li>
                <li class="drop__item drop__item_more">
                    <a href="#" class="drop__link">Аксессуары для волос</a>
                    <ul class="drop__item-l">
                            <li class="drop__item-i"><a href="#" class="drop__item-link">Зажимы для волос</a></li>
                            <li class="drop__item-i"><a href="#" class="drop__item-link">Заколки для волос</a></li>
                            <li class="drop__item-i"><a href="#" class="drop__item-link">Ободки</a></li>
                            <li class="drop__item-i"><a href="#" class="drop__item-link">Повязки на голову</a></li>
                            <li class="drop__item-i"><a href="#" class="drop__item-link">Резинки для волос</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    <li class="menu__item"><a href="#" class="menu__link">Для лица</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Для тела</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Маникюр и педикюр</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Аксессуары</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Витамины и питание</a></li>
</ul>