<ul class="m-list">
    <li class="m-list__item m-list__item_drop">
        <a href="#">Бренды</a>
        <ul class="m-list__drop">
            <li class="m-list__item m-list__item_back">
                <a href="#">Назад</a>
            </li>
            <li class="m-list__item">
                <a href="#">Бальзамы для волос</a>
            </li>
        </ul>
    </li>
    <li class="m-list__item">
        <a href="#">Для волос</a>
    </li>
    <li class="m-list__item m-list__item_drop">
        <a href="#">Для лица</a>
        <ul class="m-list__drop">
            <li class="m-list__item m-list__item_back">
                <a href="#">Назад</a>
            </li>
            <li class="m-list__item">
                <a href="#">Бальзамы для волос</a>
            </li>
            <li class="m-list__item">
                <a href="#">Бальзамы для лица</a>
            </li>
            <li class="m-list__item">
                <a href="#">Бальзамы для тела</a>
            </li>
        </ul>
    </li>
    <li class="m-list__item">
        <a href="#">Для тела</a>
    </li>
</ul>