<section class="section feautures">
    <h2 class="title"><span>Преимущества</span></h2>
    <ul class="feautures__list">
        <li class="feautures__item">
            <div class="feautures__pic">
                <img src="img/feautures/payment.png" alt="">
            </div>
            <p class="feautures__text">Удобные способы оплаты</p>
        </li>
        <li class="feautures__item">
            <div class="feautures__pic">
                <img src="img/feautures/truck.png" alt="">
            </div>
            <p class="feautures__text">Бесплатная доставка (от 3000 р.)</p>
        </li>
        <li class="feautures__item">
            <div class="feautures__pic">
                <img src="img/feautures/headset.png" alt="">
            </div>
            <p class="feautures__text">Обратная связь</p>
        </li>
        <li class="feautures__item">
            <div class="feautures__pic">
                <img src="img/feautures/box.png" alt="">
            </div>
            <p class="feautures__text">Пункты самовывоза</p>
        </li>
        <li class="feautures__item">
            <div class="feautures__pic">
                <img src="img/feautures/gift.png" alt="">
            </div>
            <p class="feautures__text">Подарочные сертификаты</p>
        </li>
    </ul>
</section>
