<ul class="c-list">
    <li class="c-list__item"><a href="#">Временная тату</a></li>
    <li class="c-list__item"><a href="#">Для бани</a></li>
    <li class="c-list__item"><a href="#">Глина</a></li>
    <li class="c-list__item"><a href="#">Мыло</a></li>
    <li class="c-list__item"><a href="#">Личная гигиена</a></li>
    <li class="c-list__item"><a href="#">Наборы подарочные</a></li>
    <li class="c-list__item"><a href="#">Туалетная вода</a></li>
    <li class="c-list__item"><a href="#">Уход за ногами</a></li>
    <li class="c-list__item"><a href="#">Уход за руками</a></li>
    <li class="c-list__item"><a href="#">Для душа</a></li>
    <li class="c-list__item"><a href="#">Средства бритья женские</a></li>
    <li class="c-list__item"><a href="#">Уход за телом</a></li>
</ul>