<ul class="catalog">
    <li class="catalog__item">
        <div class="catalog__item-wrap" data-d="1">
            <div class="catalog__block">
                <!-- <a href="#" class="catalog__link"></a> -->
                <div class="catalog__block-img">
                    <img src="img/catalog/i1.jpg" alt="">
                </div>
                <div class="catalog__block-name">
                    <p>Для волос</p>
                </div>
            </div>
            <div class="catalog__block-more">
                <ul class="catalog__list">
                    <li class="catalog__list-item"><a href="#">Бальзамы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кондиционеры для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кремы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Маски для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Масла для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Парикмахерский инструмент</a></li>
                    <li class="catalog__list-item"><a href="#">Аксессуары для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Специальные средства для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Спрей для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Средства для укладки волос</a></li>
                    <li class="catalog__list-item"><a href="#">Сухой шампунь</a></li>
                    <li class="catalog__list-item"><a href="#">Сыворотки для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Тоники и флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Шампунь для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Детские шампуни</a></li>
                </ul>
            </div>
        </div>
        <div class="catalog__item-wrap" data-d="1">
            <div class="catalog__block">
                <!-- <a href="#" class="catalog__link"></a> -->
                <div class="catalog__block-img">
                    <img src="img/catalog/i1.jpg" alt="">
                </div>
                <div class="catalog__block-name">
                    <p>Для волос</p>
                </div>
            </div>
            <div class="catalog__block-more">
                <ul class="catalog__list">
                    <li class="catalog__list-item"><a href="#">Бальзамы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кондиционеры для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кремы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Маски для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Масла для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Парикмахерский инструмент</a></li>
                    <li class="catalog__list-item"><a href="#">Аксессуары для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Специальные средства для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Спрей для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Средства для укладки волос</a></li>
                    <li class="catalog__list-item"><a href="#">Сухой шампунь</a></li>
                    <li class="catalog__list-item"><a href="#">Сыворотки для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Тоники и флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Шампунь для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Детские шампуни</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li class="catalog__item">
        <div class="catalog__item-wrap" data-d="1">
            <div class="catalog__block">
                <!-- <a href="#" class="catalog__link"></a> -->
                <div class="catalog__block-img">
                    <img src="img/catalog/i1.jpg" alt="">
                </div>
                <div class="catalog__block-name">
                    <p>Для волос</p>
                </div>
            </div>
            <div class="catalog__block-more">
                <ul class="catalog__list">
                    <li class="catalog__list-item"><a href="#">Бальзамы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кондиционеры для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кремы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Маски для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Масла для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Парикмахерский инструмент</a></li>
                    <li class="catalog__list-item"><a href="#">Аксессуары для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Специальные средства для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Спрей для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Средства для укладки волос</a></li>
                    <li class="catalog__list-item"><a href="#">Сухой шампунь</a></li>
                    <li class="catalog__list-item"><a href="#">Сыворотки для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Тоники и флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Шампунь для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Детские шампуни</a></li>
                </ul>
            </div>
        </div>
        <div class="catalog__item-wrap" data-d="1">
            <div class="catalog__block">
                <!-- <a href="#" class="catalog__link"></a> -->
                <div class="catalog__block-img">
                    <img src="img/catalog/i1.jpg" alt="">
                </div>
                <div class="catalog__block-name">
                    <p>Для волос</p>
                </div>
            </div>
            <div class="catalog__block-more">
                <ul class="catalog__list">
                    <li class="catalog__list-item"><a href="#">Бальзамы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кондиционеры для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кремы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Маски для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Масла для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Парикмахерский инструмент</a></li>
                    <li class="catalog__list-item"><a href="#">Аксессуары для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Специальные средства для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Спрей для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Средства для укладки волос</a></li>
                    <li class="catalog__list-item"><a href="#">Сухой шампунь</a></li>
                    <li class="catalog__list-item"><a href="#">Сыворотки для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Тоники и флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Шампунь для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Детские шампуни</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li class="catalog__item catalog__item_wide">
        <div class="catalog__item-wrap" data-d="0">
            <div class="catalog__block">
                <!-- <a href="#" class="catalog__link"></a> -->
                <div class="catalog__block-img">
                    <img src="img/catalog/i1.jpg" alt="">
                </div>
                <div class="catalog__block-name">
                    <p>Для волос</p>
                </div>
            </div>
            <div class="catalog__block-more">
                <ul class="catalog__list">
                    <li class="catalog__list-item"><a href="#">Бальзамы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кондиционеры для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кремы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Маски для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Масла для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Парикмахерский инструмент</a></li>
                    <li class="catalog__list-item"><a href="#">Аксессуары для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Специальные средства для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Спрей для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Средства для укладки волос</a></li>
                    <li class="catalog__list-item"><a href="#">Сухой шампунь</a></li>
                    <li class="catalog__list-item"><a href="#">Сыворотки для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Тоники и флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Шампунь для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Детские шампуни</a></li>
                </ul>
            </div>
        </div>
        <div class="catalog__item-wrap" data-d="1">
            <div class="catalog__block">
                <!-- <a href="#" class="catalog__link"></a> -->
                <div class="catalog__block-img">
                    <img src="img/catalog/i1.jpg" alt="">
                </div>
                <div class="catalog__block-name">
                    <p>Для волос</p>
                </div>
            </div>
            <div class="catalog__block-more">
                <ul class="catalog__list">
                    <li class="catalog__list-item"><a href="#">Бальзамы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кондиционеры для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кремы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Маски для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Масла для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Парикмахерский инструмент</a></li>
                    <li class="catalog__list-item"><a href="#">Аксессуары для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Специальные средства для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Спрей для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Средства для укладки волос</a></li>
                    <li class="catalog__list-item"><a href="#">Сухой шампунь</a></li>
                    <li class="catalog__list-item"><a href="#">Сыворотки для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Тоники и флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Шампунь для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Детские шампуни</a></li>
                </ul>
            </div>
        </div>
        <div class="catalog__item-wrap" data-d="1">
            <div class="catalog__block catalog__block_wide">
                <!-- <a href="#" class="catalog__link"></a> -->
                <div class="catalog__block-img">
                    <img src="img/catalog/i7.jpg" alt="">
                </div>
                <div class="catalog__block-name">
                    <p>Брэнды</p>
                </div>
            </div>
            <div class="catalog__block-more">
                <ul class="catalog__list">
                    <li class="catalog__list-item"><a href="#">Бальзамы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кондиционеры для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Кремы для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Маски для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Масла для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Парикмахерский инструмент</a></li>
                    <li class="catalog__list-item"><a href="#">Аксессуары для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Специальные средства для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Спрей для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Средства для укладки волос</a></li>
                    <li class="catalog__list-item"><a href="#">Сухой шампунь</a></li>
                    <li class="catalog__list-item"><a href="#">Сыворотки для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Тоники и флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Флюиды для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Шампунь для волос</a></li>
                    <li class="catalog__list-item"><a href="#">Детские шампуни</a></li>
                </ul>
            </div>
        </div>
    </li>
    
</ul>