<div class="contacts">
    <div class="contacts__cell">
        <div class="logo">
            <a href="">
                <img src="img/logo.png" alt="Няшки & Милашки">
            </a>
        </div>
        <p>
            Москва, ТРЦ «Семеновский» (Семеновская площадь, д. 1, 3 этаж) 
        </p>
        <p><strong>Ежедневно с 10:00 до 22:00</strong></p>
    </div>
    <div class="contacts__cell">
        <div class="contacts__comm">
            <a href="tel:88007072088" class="contacts__phone">8 (800) 707-20-88</a>
            <a href="mailto:site@milashki-shop.ru" class="contacts__email">site@milashki-shop.ru</a>
            <ul class="social">
                <li class="social__item social__item_fb"><a href="#"></a></li>
                <li class="social__item social__item_vk"><a href="#"></a></li>
                <li class="social__item social__item_inst"><a href="#"></a></li>
            </ul>
        </div>
    </div>
</div>