<div class="section showcase">
    <div class="showcase__roll">
        <ul class="showcase__list">
            <li class="showcase__item"><img src="img/product.png" alt=""></li>
            <li class="showcase__item"><img src="img/product.png" alt=""></li>
            <li class="showcase__item"><img src="img/product1.png" alt=""></li>
            <li class="showcase__item"><img src="img/product.png" alt=""></li>
            <li class="showcase__item"><img src="img/product.png" alt=""></li>
        </ul>
        <button class="showcase__btn showcase__btn_prev">1</button>
        <button class="showcase__btn showcase__btn_next">2</button>
    </div>
    <div class="showcase__preview">
        <div class="showcase__info">
            <a href="#" class="showcase__type">Для тела</a>
            <h3 class="showcase__title">Подарочный набор Le Bouton</h3>
            <p class="showcase__desc">Подарочный набор: смягчающий крем для тела, смягчающий крем для ног, гель для душа, увлажняющее мыло для рук</p>
            <span class="showcase__price">420 руб.</span>
            <div class="counter">
                <label class="counter__label">
                    <input type="text" class="counter__input" value="1" data-max="99">
                    <button class="counter__btn counter__btn_up"></button>
                    <button class="counter__btn counter__btn_down"></button>
                </label>
            </div>
            <button class="btn btn_buy">В корзину</button>
        </div>
        <div class="showcase__pic">
            <img src="" alt="">
        </div>
    </div>
</div>