<div class="subscribe">
    <h3 class="subscribe__title">Подпишись и получи<br><strong>скидку 3%</strong> на первую покупку</h3>
    <p class="subscribe__text">Статьи, рекомендации и новости от «Няшки Милашки». Бесплатные советы экспертов о натуральных продуктах, косметике, красоте и здоровье.</p>
    <form action="" class="subscribe__form form">
        <label class="form__field">
            <input placeholder="Введите e-mail" type="text" class="form__field-inp">
        </label>
        <button class="btn btn_sub" type="submit">Подписаться</button>
    </form>
</div>