<section class="section life">
    <h2 class="title"><span>Beauties & Cuties Life</span></h2>
    <div class="life__wrap">
        <div class="life__cell">
            <div class="life__box">
                <div class="label label_news"><span>Новости</span></div>
                <div class="life__pic">
                    <img src="img/news.jpg" alt="">
                </div>
                <a href="#" class="life__title">Натуральный бессиликоновый уход из Японии</a>
                <span class="life__date">15/10/2017</span>
            </div>
            <div class="life__box life__box_small">
                <div class="label label_reviews">Обзоры</div>
                <div class="life__pic">
                    <img src="img/reviews.jpg" alt="">
                </div>
                <a href="" class="life__title">Новаторы косметики Japan Geteway в нашем магазине</a>
                <span class="life__date">15/10/2017</span>
            </div>
            <div class="life__box life__box_small">
                <div class="label label_articles">Статьи</div>
                <div class="life__pic">
                    <img src="img/articles.jpg" alt="">
                </div>
                <a href="" class="life__title">Косметика Kora для вашей красоты</a>
                <span class="life__date">15/10/2017</span>
            </div>
        </div>
        <div class="life__cell life__cell_list">
            <ul class="life__list">
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_news label_block"><span>Новости</span></div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">Косметика для мужчин Johnny’s Chop-Chop в нашем супермаркете</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_articles label_block">Статьи</div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">Color mask 1010 - хит продаж!</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_news label_block"><span>Новости</span></div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">GA-DE дарит подарки</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_reviews label_block">Обзоры</div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">Хит продаж - сухие шампуни Batiste</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_news label_block"><span>Новости</span></div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">Japonica дарит подарки!</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_news label_block"><span>Новости</span></div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">21 октября! Клиентский день компании Orly. Подарки всем покупателям</a>
                        <span class="life__date">25/10/2017</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <a href="#" class="life__all">Смотреть все новости</a>
</section>