<li class="item c-item">
    <div class="item__bg">
        <div class="item__label item__label_new">
            <span>New</span>
        </div>
        <div class="item__main">
            <a href="#" class="item__link"></a>
            <div class="item__pic">
                <img src="img/item.jpg" alt="">
            </div>
            <div class="item__desc">
                <p>PEOPLE ORGANIC Лучшие Рецепты Мира Бальзам для волос Японский шелк, 350 мл</p>
            </div>
        </div>
        <div class="item__bot">
            <a href="#" class="item__brand">Planeta Organica</a>
            <div class="item__price">
                <span>120 руб.</span>
            </div>
        </div>
        <div class="item__params">
            <div class="item__select">
                <div class="item__select-cell">
                    <span>Цвет</span>
                </div>
                <div class="item__select-cell">
                    <select>
                        <option value="0">желтый</option>
                        <option value="1">красный</option>
                        <option value="2">зеленый</option>
                    </select>
                </div>
            </div>
            <div class="item__select">
                <div class="item__select-cell">
                    <span>Размер</span>
                </div>
                <div class="item__select-cell">
                    <select>
                        <option value="0">XS</option>
                        <option value="1">S</option>
                        <option value="2">M</option>
                    </select>
                </div>
            </div>
            <div class="item__counter counter">
                <label class="counter__label">
                    <input type="text" class="counter__input" value="1" data-max="99">
                    <button class="counter__btn counter__btn_up"></button>
                    <button class="counter__btn counter__btn_down"></button>
                </label>
            </div>
            <button class="item__buy btn btn_buy">В корзину</button>
        </div>
    </div>
</li>

