<li class="item">
    <div class="item__label item__label_hit">
        <span>Hit</span>
    </div>
    <div class="item__main">
        <a href="#" class="item__link"></a>
        <div class="item__pic">
            <img src="img/item.jpg" alt="">
        </div>
        <div class="item__desc">
            <p>BUEAR Кондиционер с легким чувственным ароматом, 700 мм</p>
        </div>
    </div>
    <div class="item__bot">
        <a href="#" class="item__brand">Buear</a>
        <div class="item__price">
            <span>1390 руб.</span>
        </div>
        <button class="item__buy btn btn_buy">В корзину</button>
    </div>
</li>