<li class="item">
    <div class="item__label item__label_sale">
        <span>Sale</span>
    </div>
    <div class="item__main">
        <a href="#" class="item__link"></a>
        <div class="item__pic">
            <img src="img/item.jpg" alt="">
        </div>
        <div class="item__desc">
            <p>OLLIN Service Line Крем для рук и ногтей питательный, 100 мл</p>
        </div>
    </div>
    <div class="item__bot">
        <a href="#" class="item__brand">Ollin</a>
        <div class="item__price">
            <span>120 руб.</span>
        </div>
        <button class="item__buy btn btn_buy">В корзину</button>
    </div>
</li>