<ul class="brands">
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
    <li class="brands__item brand">
        <div class="brand__logo">
            <img src="img/brand.jpg" alt="">
        </div>
        <a href="#" class="brand__link">te Gusto</a>
    </li>
</ul>