<div class="gallery">
    <div class="gallery__big"></div>
    <ul class="gallery__list">
        <li class="gallery__item" data-image="img/gallery.jpg">
            <img src="img/gallery-preview.jpg" alt="">
        </li>
        <li class="gallery__item" data-image="img/gallery.jpg">
            <img src="img/gallery-preview.jpg" alt="">
        </li>
        <li class="gallery__item" data-image="img/gallery.jpg">
            <img src="img/gallery-preview.jpg" alt="">
        </li>
        <li class="gallery__item" data-image="img/gallery.jpg">
            <img src="img/gallery-preview.jpg" alt="">
        </li>
        <li class="gallery__item" data-image="img/gallery.jpg">
            <img src="img/gallery-preview.jpg" alt="">
        </li>
    </ul>
</div>