<div class="gallery gallery_product">
    <div class="gallery__big"></div>
    <ul class="gallery__list">
        <li class="gallery__item" data-image="img/p-img.png">
            <img src="img/p-img.png" alt="">
        </li>
        <li class="gallery__item" data-image="img/p-img.png">
            <img src="img/p-img.png" alt="">
        </li>
        <li class="gallery__item" data-image="img/p-img.png">
            <img src="img/p-img.png" alt="">
        </li>
        <li class="gallery__item" data-image="img/p-img.png">
            <img src="img/p-img.png" alt="">
        </li>
    </ul>
</div>