<div class="alphabet">
    <ul class="alphabet__list">
        <li class="alphabet__char"><a href="#">a</a></li>
        <li class="alphabet__char"><a href="#">b</a></li>
        <li class="alphabet__char"><a href="#">c</a></li>
        <li class="alphabet__char"><a href="#">d</a></li>
        <li class="alphabet__char"><a href="#">e</a></li>
        <li class="alphabet__char"><a href="#">f</a></li>
        <li class="alphabet__char"><a href="#">g</a></li>
        <li class="alphabet__char"><a href="#">h</a></li>
        <li class="alphabet__char disable"><a href="#">i</a></li>
        <li class="alphabet__char"><a href="#">k</a></li>
        <li class="alphabet__char"><a href="#">l</a></li>
        <li class="alphabet__char"><a href="#">m</a></li>
        <li class="alphabet__char"><a href="#">n</a></li>
        <li class="alphabet__char"><a href="#">o</a></li>
        <li class="alphabet__char"><a href="#">p</a></li>
        <li class="alphabet__char"><a href="#">q</a></li>
        <li class="alphabet__char disable"><a href="#">r</a></li>
        <li class="alphabet__char"><a href="#">s</a></li>
        <li class="alphabet__char current"><a href="#">t</a></li>
        <li class="alphabet__char"><a href="#">u</a></li>
        <li class="alphabet__char"><a href="#">v</a></li>
        <li class="alphabet__char"><a href="#">w</a></li>
        <li class="alphabet__char disable"><a href="#">x</a></li>
        <li class="alphabet__char disable"><a href="#">y</a></li>
        <li class="alphabet__char disable"><a href="#">z</a></li>
    </ul>
    <ul class="alphabet__list">
        <li class="alphabet__char"><a href="#">а</a></li>
        <li class="alphabet__char"><a href="#">б</a></li>
        <li class="alphabet__char"><a href="#">в</a></li>
        <li class="alphabet__char"><a href="#">г</a></li>
        <li class="alphabet__char"><a href="#">д</a></li>
        <li class="alphabet__char"><a href="#">е</a></li>
        <li class="alphabet__char disable"><a href="#">ж</a></li>
        <li class="alphabet__char disable"><a href="#">з</a></li>
        <li class="alphabet__char"><a href="#">и</a></li>
        <li class="alphabet__char"><a href="#">к</a></li>
        <li class="alphabet__char"><a href="#">л</a></li>
        <li class="alphabet__char"><a href="#">м</a></li>
        <li class="alphabet__char"><a href="#">н</a></li>
        <li class="alphabet__char"><a href="#">о</a></li>
        <li class="alphabet__char"><a href="#">п</a></li>
        <li class="alphabet__char"><a href="#">р</a></li>
        <li class="alphabet__char"><a href="#">с</a></li>
        <li class="alphabet__char"><a href="#">т</a></li>
        <li class="alphabet__char"><a href="#">у</a></li>
        <li class="alphabet__char"><a href="#">ф</a></li>
        <li class="alphabet__char disable"><a href="#">х</a></li>
        <li class="alphabet__char disable"><a href="#">ц</a></li>
        <li class="alphabet__char"><a href="#">ч</a></li>
        <li class="alphabet__char disable"><a href="#">ш</a></li>
        <li class="alphabet__char disable"><a href="#">щ</a></li>
        <li class="alphabet__char disable"><a href="#">э</a></li>
        <li class="alphabet__char disable"><a href="#">ю</a></li>
        <li class="alphabet__char disable"><a href="#">я</a></li>
    </ul>
    <a href="#" class="alphabet__all">Все бренды</a>
</div>