<div class="b-section">
    <div class="b-section__main">
        <span class="b-section__caption b-section__caption_top">Товары</span>
        <table class="order">
            <tr class="order__row order__row_head">
                <th class="order__cell order__cell_head">Фото</th>
                <th class="order__cell order__cell_head">Наименование</th>
                <th class="order__cell order__cell_head">Скидка</th>
                <th class="order__cell order__cell_head">Цена</th>
                <th class="order__cell order__cell_head">Кол-во</th>
                <th class="order__cell order__cell_head">Стоимость</th>
            </tr>
            <tr class="order__row">
                <td class="order__cell">
                    <div class="order__pic">
                        <img src="img/item.jpg" alt="">
                    </div>
                </td>
                <td class="order__cell">
                    <p class="order__text">PEOPLE ORGANIC Лучшие Рецепты Мира Бальзам для волос Японский шелк, 350 мл</p>
                </td>
                <td class="order__cell">
                    <p>0%</p>
                </td>
                <td class="order__cell">
                    <p>120 руб.</p>
                </td>
                <td class="order__cell">
                    <div class="counter counter_cart">
                        <label for="counter" class="counter__label">
                            <input id="counter" type="text" class="counter__input" value="1" data-max="99">
                            <button class="counter__btn counter__btn_up"></button>
                            <button class="counter__btn counter__btn_down"></button>
                        </label>
                    </div>
                    <a href="#" class="order__remove">Удалить</a>
                </td>
                <td class="order__cell">
                    <p><strong>120 руб.</strong></p>
                </td>
            </tr>
            <tr class="order__row">
                <td class="order__cell">
                    <div class="order__pic">
                        <img src="img/item.jpg" alt="">
                    </div>
                </td>
                <td class="order__cell">
                    <p class="order__text">PEOPLE ORGANIC Лучшие Рецепты Мира Бальзам для волос Японский шелк, 350 мл</p>
                </td>
                <td class="order__cell">
                    <p>0%</p>
                </td>
                <td class="order__cell">
                    <p>120 руб.</p>
                </td>
                <td class="order__cell">
                    <div class="counter counter_cart">
                        <label for="counter" class="counter__label">
                            <input id="counter" type="text" class="counter__input" value="1" data-max="99">
                            <button class="counter__btn counter__btn_up"></button>
                            <button class="counter__btn counter__btn_down"></button>
                        </label>
                    </div>
                    <a href="#" class="order__remove">Удалить</a>
                </td>
                <td class="order__cell">
                    <p><strong>120 руб.</strong></p>
                </td>
            </tr>
            <tr class="order__row">
                <td class="order__cell">
                    <div class="order__pic">
                        <img src="img/item.jpg" alt="">
                    </div>
                </td>
                <td class="order__cell">
                    <p class="order__text">PEOPLE ORGANIC Лучшие Рецепты Мира Бальзам для волос Японский шелк, 350 мл</p>
                </td>
                <td class="order__cell">
                    <p>0%</p>
                </td>
                <td class="order__cell">
                    <p>120 руб.</p>
                </td>
                <td class="order__cell">
                    <div class="counter counter_cart">
                        <label for="counter" class="counter__label">
                            <input id="counter" type="text" class="counter__input" value="1" data-max="99">
                            <button class="counter__btn counter__btn_up"></button>
                            <button class="counter__btn counter__btn_down"></button>
                        </label>
                    </div>
                    <a href="#" class="order__remove">Удалить</a>
                </td>
                <td class="order__cell">
                    <p><strong>120 руб.</strong></p>
                </td>
            </tr>
        </table>
        
        <span class="b-section__caption">Способ доставки</span>
        <div class="b-section__line">
            <p>Ваше местоположение</p>
            <select>
                <option value="0">Москва</option>
                <option value="1">Барнаул</option>
                <option value="2">Новоалтайск</option>
                <option value="3">Рубцовск</option>
                <option value="4">Майями</option>
            </select>
            <div class="b-section__div">
                <label class="radio">
                    <input type="radio" name="delivery">
                    <div class="radio__custom"></div>
                    <span>Самовызов</span>
                    <div class="radio__more">
                        <p>Стоимость доставки: 250 руб.</p>
                        <p>Срок доставки: 1 день</p>
                        <button class="btn btn_sq btn_tblack" data-open="map">Выбрать пункт самовызова</button>
                    </div>
                </label>
                <label class="radio">
                    <input type="radio" name="delivery" checked>
                    <div class="radio__custom"></div>
                    <span>CDEK самовывоз</span>
                    <div class="radio__more">
                        <p>Стоимость доставки: 250 руб.</p>
                        <p>Срок доставки: 1 день</p>
                        <button class="btn btn_sq btn_tblack" data-open="map">Выбрать пункт самовызова</button>
                    </div>
                </label>
                <label class="radio">
                    <input type="radio" name="delivery">
                    <div class="radio__custom"></div>
                    <span>CDEK: доставка до двери</span>
                    <div class="radio__more">
                        <p>Стоимость доставки: 250 руб.</p>
                        <p>Срок доставки: 1 день</p>
                        <button class="btn btn_sq btn_tblack" data-open="map">Выбрать пункт самовызова</button>
                    </div>
                </label>
            </div>
        </div>
        <span class="b-section__caption">Способ оплаты</span>
        <div class="b-section__line">
            <div class="b-section__div">
                <label class="radio">
                    <input type="radio" name="payment">
                    <div class="radio__custom"></div>
                    <span>Наличными</span>
                    <div class="radio__more">
                        <p>Оплата курьеру при получении</p>
                    </div>
                </label>
                <label class="radio">
                    <input type="radio" name="payment" checked>
                    <div class="radio__custom"></div>
                    <span>Банковская карта</span>
                    <div class="radio__more">
                        <p>Оплата курьеру при получении</p>
                    </div>
                </label>
            </div>
        </div>
        <span class="b-section__caption">Комментарий к заказу</span>
        <div class="b-section__line">
            <textarea class="textarea"></textarea>
        </div>
    </div>
    <div class="b-section__side">
        <div class="b-section__block b-section__block_head">
            <div class="b-section__block-top">
                <span class="b-section__block-caption">Данные покупателя</span>
                <a href="#" class="b-section__authlink"><span>Вход</span></a>
            </div>
            <div class="client">
                <label class="checkbox">
                    <input type="checkbox">
                    <div class="checkbox__custom"></div>
                    <span>Использовать информацию из профиля</span>
                </label>
                <label class="input">
                    <span class="input__req">ФИО</span>
                    <input type="text">
                </label>
                <label class="input">
                    <span class="input__req">Email</span>
                    <input type="email">
                </label>
                <label class="input">
                    <span class="input__req">Телефон</span>
                    <input type="text">
                </label>
            </div>
        </div>
        <div class="b-section__block">
            <div class="check">
                <div class="check__block">
                    <span class="check__caption">Итого</span>
                    <div class="check__line">
                        <div class="check__line-cell">Товаров на сумму</div>
                        <div class="check__line-cell check__line-cell_dot"></div>
                        <div class="check__line-cell"><strong>640 руб.</strong></div>
                    </div>
                    <div class="check__line">
                        <div class="check__line-cell">Доставка</div>
                        <div class="check__line-cell check__line-cell_dot"></div>
                        <div class="check__line-cell"><strong>250 руб.</strong></div>
                    </div>
                </div>
                <div class="check__block">
                    <p class="check__line check__line_center">Сумма заказа</p>
                    <span class="check__sum">890 руб.</span>
                    <div class="check__buttons">
                        <button class="btn btn_buy">Оформить заказ</button>
                        <label class="checkbox">
                            <input type="checkbox" checked>
                            <div class="checkbox__custom"></div>
                            <span>Нажимая на кнопку «Оформить заказ», вы соглашаетесь с Политикой в отношении обработки персональных данных и принимаете условия Оферты.</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox">
                            <div class="checkbox__custom"></div>
                            <span>Я хочу получать информацию обо всех акциях, новинках и скидках.</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>