<div class="blog">
    <div class="blog__cell">
        @@include('../tabs/blog.html')
    </div>
    <div class="blog__cell">
        <div class="blog__life">
            <ul class="life__list">
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_news label_block"><span>Новости</span></div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">Косметика для мужчин Johnny’s Chop-Chop в нашем супермаркете</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_articles label_block">Статьи</div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">Color mask 1010 - хит продаж!</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_news label_block"><span>Новости</span></div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">GA-DE дарит подарки</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_reviews label_block">Обзоры</div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">Хит продаж - сухие шампуни Batiste</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_news label_block"><span>Новости</span></div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">Japonica дарит подарки!</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_news label_block"><span>Новости</span></div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">21 октября! Клиентский день компании Orly. Подарки всем покупателям</a>
                        <span class="life__date">25/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_news label_block"><span>Новости</span></div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">Japonica дарит подарки!</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_news label_block"><span>Новости</span></div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">21 октября! Клиентский день компании Orly. Подарки всем покупателям</a>
                        <span class="life__date">25/10/2017</span>
                    </div>
                </li>
                <li class="life__item">
                    <div class="life__type">
                        <div class="label label_news label_block"><span>Новости</span></div>
                    </div>
                    <div class="life__info">
                        <a class="life__title" href="#">Japonica дарит подарки!</a>
                        <span class="life__date">15/10/2017</span>
                    </div>
                </li>
            </ul>
            @@include('../pagination/index.html')
        </div>
    </div>
</div>