<div class="tabs tabs_blog">
    <ul class="tabs__select">
        <li class="tab label label_tab"><a href="#all" class="tab__link">Все материалы</a></li>
        <li class="tab label label_news label_tab"><a href="#news" class="tab__link">Новости</a></li>
        <li class="tab label label_articles label_tab"><a href="#articles" class="tab__link">Статьи</a></li>
        <li class="tab label label_reviews label_tab"><a href="#reviews" class="tab__link">Обзоры</a></li>
    </ul>
    <div class="tabs__content" data-tab="all">
        <div class="life__line">
            <div class="life__box">
                <div class="label label_news"><span>Новости</span></div>
                <div class="life__pic">
                    <img src="img/news.jpg" alt="">
                </div>
                <a href="#" class="life__title">Натуральный бессиликоновый уход из Японии</a>
                <span class="life__date">15/10/2017</span>
            </div>
        </div>
        <div class="life__line">
            <div class="life__box life__box_small">
                <div class="label label_reviews">Обзоры</div>
                <div class="life__pic">
                    <img src="img/reviews.jpg" alt="">
                </div>
                <a href="" class="life__title">Новаторы косметики Japan Geteway в нашем магазине</a>
                <span class="life__date">15/10/2017</span>
            </div>
            <div class="life__box life__box_small">
                <div class="label label_articles">Статьи</div>
                <div class="life__pic">
                    <img src="img/articles.jpg" alt="">
                </div>
                <a href="" class="life__title">Косметика Kora для вашей красоты</a>
                <span class="life__date">15/10/2017</span>
            </div>
        </div>
        <div class="life__line">
            <div class="life__box life__box_small">
                <div class="label label_reviews">Обзоры</div>
                <div class="life__pic">
                    <img src="img/reviews.jpg" alt="">
                </div>
                <a href="" class="life__title">Новаторы косметики Japan Geteway в нашем магазине</a>
                <span class="life__date">15/10/2017</span>
            </div>
            <div class="life__box life__box_small">
                <div class="label label_articles">Статьи</div>
                <div class="life__pic">
                    <img src="img/articles.jpg" alt="">
                </div>
                <a href="" class="life__title">Косметика Kora для вашей красоты</a>
                <span class="life__date">15/10/2017</span>
            </div>
        </div>
    </div>
    <div class="tabs__content" data-tab="news">

    </div>
    <div class="tabs__content" data-tab="articles">

    </div>
    <div class="tabs__content" data-tab="reviews">

    </div>
</div>