<div class="tabs tabs_login">
    <ul class="tabs__select">
        <li class="tab"><a href="#login" class="tab__link">Вход</a></li>
        <li class="tab"><a href="#register" class="tab__link">Регистрация</a></li>
    </ul>
    <div class="tabs__content" data-tab="login">
        <form class="form">
            <p class="form__error">Неверный e-mail или пароль</p>
            <label class="form__lab error">
                <input type="email" placeholder="Ваш e-mail">
            </label>
            <label class="form__lab">
                <input type="password" placeholder="Пароль">
            </label>
            <a href="#">Забыли пароль?</a>
            <button class="btn btn_yelwide">Войти</button>
        </form>
    </div>
    <div class="tabs__content" data-tab="register">

    </div>
</div>