<div class="news-item">
    <div class="news-item__top">
        <div class="label label_news label_section"><span>Новости</span></div>
        <span class="news-item__date">15 ноября 2017</span>
    </div>
    <div class="news-item__body">
        <div class="news-item__cell">
            @@include('../gallery/news-item.html')
        </div>
        <div class="news-item__cell">
            <div class="news-item__content">
                <h3>Сегодня мы хотим представить вам продукцию Японского бренда Japonica.</h3>
                <h4>Натуральный бессиликоновый уход из Японии</h4>
                <p>Распространенная проблема сухих концов и жирных корней свидетельствует о нарушении баланса жирности. Шампунь и кондиционер Natvra, содержащие в себе медовые и растительные компоненты, станут отличным средством для решения этой проблемы, так как обладают максимально облегченным составом, не содержат силиконов и сульфатов и направлены не только на уход за волосами, но и за кожей головы.</p>
                <h4>Премиальное увлажнение</h4>
                <p>Курс премиальных масок с гиалуроновой кислотой подарит роскошное увлажнение даже самой сухой коже. Три вида кислоты проникают в три уровня эпителия, напитывая влагой даже самый глубокий слой. Увеличенная процентная концентрация активных компонентов способна за короткий срок преобразить вашу кожу, не только улучшая внешний вид, но и оздоравливая ее.</p>
                <h4>Уход за кожей лица</h4>
                <p>Увлажняющий крем для лица с арбутином и плацентой обладает легкой текстурой, благодаря чему отлично впитывается и не оставляет ощущения липкости после применения. Плацента прекрасно питает кожу, снимает воспаления и стимулирует процессы регенерации и обновления клеток. Благодаря арбутину в составе, крем бережно высветляет нежелательную пигментацию, возвращая коже свежий, сияющий вид.</p>
                <h4>Преимущества косметики Egomania:</h4>
                <ul>
                    <li>вся продукция исключительно ручной работы;</li>
                    <li>средства созданы из натуральных составляющих;</li>
                    <li>в процессе производства используется редкая и дорогостоящая технология «холодного замеса» ингредиентов.</li>
                </ul>
            </div>
            <button class="btn btn_back">Назад к списку</button>
        </div>
    </div>
</div>